.button-update.animation {
  animation: wiggleAnimation 0.5s infinite; 
  animation-duration: 300ms;
  animation-iteration-count:1;
}

.profile-image {
  margin-top: 1rem;
  width: 200px; 
  height: auto; 
  border-radius: 30px;
}

.description {
  font-size: 18px;
}

.attribute {
  margin : 0.3rem;  
}

/*TODO use mui breakpoints*/
@media (max-width: 425px) {
  .profile-image {
    width: 60%;
  }

  .description {
    font-size: 14px; 
  }
}


@keyframes wiggleAnimation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(4deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-4deg); }
  100% { transform: rotate(0deg); }
}



