.profile-view {
  background: linear-gradient(to right top, #eee04f, #f4db72, #f4d892, #eed7b0, #e0d8ce);
  height: 100vh; 
  overflow: hidden;
}

.button-update.animation {
  animation: wiggleAnimation 0.5s infinite; 
  animation-duration: 300ms;
  animation-iteration-count:1;
}

.profile-image {
  margin-top: 1rem;
  width: 200px; 
  height: auto; 
  max-height: 200px;
  border-radius: 30px;
}

.description {
  font-size: 18px;
  width: 40%; 
  margin: 0 auto; 
}

.input-description{
  padding-left: 15rem;
}

.attribute {
  margin : 0.3rem;  
}


@media (max-width: 425px) {
  .profile-image {
    width: 60%;
  }

  .description {
    font-size: 14px; 
  }
}


@keyframes wiggleAnimation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(4deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-4deg); }
  100% { transform: rotate(0deg); }
}



