.roomie-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

.edit-delete-buttons {
    display: flex;
    justify-content: flex-start;
}

.attribute {
    margin : 0.3rem;
}

.create-input {
    width: auto;
    max-width: 500px;
    height: 400px;
}
