.roomie-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

.edit-delete-buttons {
    display: flex;
    justify-content: flex-start;
}

.attribute {
    margin : 0.3rem;
}

.create-input {
    width: auto;
    max-width: 500px;
    height: 400px;
}

/* Color Theme Swatches in Hex */
.Primary-Dark-Teal { background-color: #348888; }
.Primary-Teal { background-color: #22BABB; }
.Primary-Light-Teal { background-color: #9EF8EE; }
.Secondary-Orange { background-color: #FA7F08; }
.Secondary-Dark-Orange { background-color: #F24405; }